.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}


.list{
    display: flex;
    gap: 20px; 
    border: 1px solid blue;
}


.list li{
    list-style-type: none;
    text-transform: capitalize;
    cursor: pointer;
}


.active{
    display: none;
}
